<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registrarAlumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre del Alumno</ion-label>
    <ion-input type="text" [(ngModel)]="nombre" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-select [(ngModel)]="seccion" placeholder="Grado escolar" aria-label="Sección">
      <ion-select-option value="prescolar">Prescolar</ion-select-option>
      <ion-select-option value="primaria">Primaria</ion-select-option>
      <ion-select-option value="bachillerato">Bachillerato</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-select [(ngModel)]="carril" placeholder="Carril">
      <ion-select-option value="carril1">Carril 1</ion-select-option>
      <ion-select-option value="carril2">Carril 2</ion-select-option>
      <ion-select-option value="carril3">Carril 3</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="registrarAlumno()">Registrar Alumno</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col>Nombre</ion-col>
      <ion-col>Sección</ion-col>
      <ion-col>Acciones</ion-col>
    </ion-row>

    <ion-row *ngFor="let alumno of alumnos">
      <ion-col>{{ alumno.nombre }}</ion-col>
      <ion-col>{{ alumno.seccion }}</ion-col>
      <ion-col>
        <ion-button (click)="eliminarAlumno(alumno.id)">Eliminar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>