<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recoger</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let alumno of alumnos">
      {{ alumno.nombre }}
      <ion-button *ngIf="alumno.recogido" slot="end" color="primary" (click)="eliminarAlumno(alumno.id)">
        Se monto en el carro
      </ion-button>
      <ion-button *ngIf="!alumno.recogido" slot="end" color="secondary" (click)="montarAlumno(alumno.id)">
        Esperando el carro
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

